# Python cache
__pycache__/
*.pyc

# Virtual environments
venv/
.venv/
env/
ENV/
.virtual_documents/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode settings
.vscode/

# Pip environment files
*.egg-info/
